<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814847705448-50dnhm8uj54ngttouuq9uh0rti67hmp6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814847705448-50dnhm8uj54ngttouuq9uh0rti67hmp6</string>
	<key>API_KEY</key>
	<string>AIzaSyDHhRtXQUVYUdOAUBsslm1kQMpGQYRQN2g</string>
	<key>GCM_SENDER_ID</key>
	<string>814847705448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizeAppTeacherStudentModule</string>
	<key>PROJECT_ID</key>
	<string>iqra-quize</string>
	<key>STORAGE_BUCKET</key>
	<string>iqra-quize.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814847705448:ios:3d26db91a4942a1a4c16dd</string>
	<key>DATABASE_URL</key>
	<string>https://iqra-quize-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>